@{
    ViewBag.Title = "Quản lý bài giảng";
    QLDH.DataAccess.Models.TroChoiModel item = (QLDH.DataAccess.Models.TroChoiModel)Model;
    Layout = null;
    Random rnd = new Random();
    int num = rnd.Next(1, 5);
    string image = "khonggian-bg" + num + ".gif";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Entire bundle -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <style>
        body {
            background: #234;
        }
        .bg-gif {
            position: absolute;
            z-index: 1;
            width: 100%;
        }
        .game-content {
            z-index: 9999;
            position: absolute;
            width: 100%;
        }

        .grid-drag {
            display: flex;
            padding: 10px;
            justify-content: center;
        }

            .grid-drag .droppable {
                width: calc(100vw/ @(item.lstDapAn.Count+1) );
                height: 50px;
                max-width: 50px;
                display: flex;
            }

            .grid-drag .block {
                background-color: #d0d0d0;
                border: dashed 1px #111;
            }

        .grid-drop {
            display: flex;
            padding: 10px;
            justify-content: center;
        }

            .grid-drop .droppable {
                width: calc(100vw/ @(item.lstDapAn.Count+1) );
                height: 50px;
                max-width: 50px;
                border: solid;
                display: flex;
            }

        .draggable, .droppable.draggable-dropzone--occupied {
            width:calc(100vw/@(item.lstDapAn.Count+1));
            height: 50px;
            max-width:50px;
            background-color: #c25050;
            text-align: center;
            font-size: 1.5em;
        }
    </style>
</head>
<body>
    @*<ul>
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
        </ul>*@
    <img class="bg-gif" src="~/Images/@image" />
    <div class="game-content">
        <h3 style="width:100%;text-align:center;color:#fff">@item.TenTroChoi</h3>
        <div class="grid-drop">
            @{int i = 1; }
            @foreach (QLDH.DataAccess.Models.DapAnTroChoiModel dapan in item.lstDapAn)
            {

                <div id="drop-@(i++)" class="droppable"></div>
            }
        </div>
        <div class="grid-drag">
            @foreach (QLDH.DataAccess.Models.DapAnTroChoiModel dapan in item.lstDapAn)
            {
                <div id="drag-@dapan.ThuTu" class="draggable">@dapan.NoiDung</div>
            }
        </div>
        <img src="~/Images/phaohoa.gif" id="phaohoa" style=" width: 50%; position: absolute; top: 0; left: 25%; text-align: center;" />
        <h1 id="chucmung" style=" width: 50%; position: absolute; top: 20%; left: 25%; text-align: center; display: block; color: #3d871f;">Bạn đã thành công!</h1>
    </div>
    <script type="text/javascript">
        var fromElement;
        var fromId;
        var arr_ans = [];
        var len = @item.lstDapAn.Count;
        function drawArrow($t, $i, idfrom) {

            // find offset positions for the word (t = this) and image (i)
            var ot = {
                x: $t.offset().left + $t.width() / 2,
                y: $t.offset().top + $t.height() / 2
            };
            var oi = {
                x: $i.offset().left + $i.width() / 2,
                y: $i.offset().top + $i.height()
            };

            // x,y = top left corner
            // x1,y1 = bottom right corner
            var p = {
                x: ot.x < oi.x ? ot.x : oi.x,
                x1: ot.x > oi.x ? ot.x : oi.x,
                y: ot.y < oi.y ? ot.y : oi.y,
                y1: ot.y > oi.y ? ot.y : oi.y
            };

            // create canvas between those points
            var c = $('<canvas id=' + idfrom + ' />').attr({
                'width': p.x1 - p.x,
                'height': p.y1 - p.y
            }).css({
                'position': 'absolute',
                'left': p.x,
                'top': p.y,
                'z-index': 1
            }).appendTo($('body'))[0].getContext('2d');

            // draw line
            c.strokeStyle = '#f00';
            c.lineWidth = 2;
            c.beginPath();
            c.moveTo(ot.x - p.x, ot.y - p.y);
            c.lineTo(oi.x - p.x, oi.y - p.y);
            c.stroke();
        }

        $(document).ready(function () {
            $("#phaohoa").hide();
            $("#chucmung").hide();
            $(".draggable").click(function (e) {
                fromId = this.id.substring(5);
                fromElement = $(this);

                //drawArrow($(this), $("#drop-" + this.id.substring(5)), this.id.substring(5));
            })
            $(".droppable").click(function (e) {
                $('canvas#' + fromId).remove();
                drawArrow(fromElement, $(this), fromId);
                arr_ans[parseInt(fromId) - 1] = { key: parseInt(fromId), value: parseInt(this.id.substring(5)) };
                if (len == arr_ans.length) {
                    var result = check();
                    if (result) {
                        setTimeout(function () {
                            $("#phaohoa").show();
                            $("#chucmung").show();
                        }, 500)
                    }
                }
            })


        })

        function check() {
            let result = true;
            $.each(arr_ans, function (index, item) {
                if (item != undefined) {
                    if (item.key != item.value)
                        result = false;
                }
            })
            return result;
        }

    </script>
</body>
</html>